$body: #f8f8f8;
$black: #3e3c37;
$gray: #939393;
$blue: #090edb;
$pink: #e73dc4;
$purple: #736fd0;
$yellow:  #f3d34c;

$light-yellow: #ffec9c;
$light-pink: #f483dd;

$shdowLayer: #00000033;
$shadow: rgba(0, 0, 0, 0.05);
